<p>
  Hallo deelnemer,
</p>

<p>
  Gebruikersnaam of wachtwoord vergeten? Hieronder staat je gebruikersnaam. <br/>
  Door te klikken op de link stel je gemakkelijk en snel een nieuw wachtwoord in.
</p>

<p>
  Gebruikersnaam: {{username}}<br/>
  <a href="https://dashboard.gpx.nl/forgot-password/reset?h={{uuid}}">Nieuw wachtwoord instellen</a>
</p>

<p>
  Is de link verlopen? Vraag dan een nieuwe link aan en herstel je wachtwoord.<br/>
  <a href="https://dashboard.gpx.nl/forgot-password">Nieuwe link aanvragen</a>
</p>

<p>
  Tip: Klik bij het inloggen op “Onthouden”. Als je dan de volgende keer het GPX Dashbord bezoekt op hetzelfde apparaat,
  dan ben je gelijk ingelogd.
</p>
